<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>"Slim Link" - najlepsza skracarka adresów !</h1>

  <%= link_to "Wypróbuj teraz!", '#', class: "btn btn-lg btn-primary" %>

  <p><strong>O Skracarce "Slim Link"</strong></p>
  
  <p>
   Serwis "Slim link" powstał w 2014 roku. Jest to projekt stworzony oprogramowaniu Ruby on Rails.
  </p>
  <p>
   Projekt skracarki do adresów URL ma charakter w pełni <strong>niekomercyjny</strong>. 
   Służy do <strong>skracania</strong> zbyt długich adresów www.
   </p>
 </div>


