<footer class="footer">
  <small>
    Twórcą skracarki 'Slim Link' jest Dominik Malik. Wszelkie prawa zastrzeżone.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
